*{
    margin: 0px;
    padding: 0px;
}
/* banner section */
.header-banner-container{
    
    display: flex;
    justify-content: space-between;
    height: 90vh;
    background-color: rgba(229, 84, 115, 0.10);;
}
.header-banner-item{
    margin: 120px 50px 10px 150px;
}
.header-title{
  
    font-size: 60px;
    font-weight: 700;

}
.header-description{
    font-size: 16px;
    color: #403f3f;
    margin-top: 24px;

}
.btn-shop{
    margin-top: 30px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border: 0px;

}
.image-banner-item{
        
}
.header-banner-img{
    width: 400px;
    margin: 80px 120px 0px 0px;
    vertical-align: bottom
   
}
/* feature flower section */
.feature-container{
    height: 100vh;
}
.feature-title{
    margin-top: 120px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}
.flower-container{
    margin-top: 48px;
    display: flex;
    gap: 24px;
    margin-left: 140px;
}
.feature-image1{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}
.flower-image1{
    width: 310px;
height: 428px;
vertical-align: bottom;
margin: 110px 78px 0px 76px;
    

}
.feature-image2{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background-color: #0597A026;
}
.flower-image2{
    width: 370px;
height: 370px;
vertical-align: bottom;
margin: 117px 51px 0px 47px;
   
}
.feature-image3{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background-color: #477D1126;
}
.flower-image3{
    width: 314px;
height: 471px;
margin: 67px 75px 0px 75px;
}