
*{
    margin: 0px;
    padding: 0px;
}
/* shared css style */
.margin-top{
    margin-top: 24px;
}
/* header section */
header{
    background-color:#E554731A;
}
.header-banner-container{
    display: flex;
    justify-content: space-around;
    margin: 0px 150px;
    padding-top: 50px;
    height: 80vh;
}
.header-banner-item{
    width: 50%;
    
}

    .header-title{
        color: #272727;
        font-size: 57px;
        font-weight: 900;
        
}
header-description{
    color: rgba(8, 8, 8, 0.6);
    font-size: 18px;
    font-weight: bold;
    padding: 32px 0px;
}
.btn-shop{color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
border-radius: 8px;
background: #E55473;
border: none;

}
.btn-shop:hover{
    background-color: aqua;
    color: green;
}
.header-banner-img{
    flex: 30%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: bottom;
    
}

/* feature flower section */
.feature-container{
    height: 100vh;
}
.feature-title{
    margin-top: 120px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}
.flower-container{
    padding: 50px 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
}
.feature-image1{
    width: 364px;
height: 438px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}
.flower-image1{
    width: 260px;
height: 378px;
vertical-align: bottom;
margin: 60px 58px 0px 50px;
    

}
.feature-image2{
    width: 364px;
    height: 438px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
}
.flower-image2{
    width: 260px;
height: 378px;
vertical-align: bottom;
margin: 60px 40px 0px 60px;
   
}
.feature-image3{
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background-color: #477D1126;
}
.flower-image3{
    width: 260px;
    height: 378px;
    vertical-align: bottom;
    margin: 60px 58px 0px 50px;
}
.image-title{
    text-align: center;
    text-decoration: underline;
}
/* hot deal section */
.hot-deal-container{
    background-color: #E554730D;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    
}
.hotdeal-title{
    font-size: 35px;
}
.hotdeal-description{
    font-size: 18px;
}
span{
    color: #E55473;
}
.btn-signup{
    font-size: 15px;
    padding: 10px 15px;
    color: #FFF;
background-color: #E55473;
border-radius: 5px;
border: 0px;
}
.hotdeal-pic{
    display: flex;
    align-items: center;
    width: 65%;
    padding-right: 100px;
}

/* instagram section */
.contact-section{
    height: 100vh;
}
.insta-title{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
.insta-description{
    text-align: center;
    font-size: 18px;
}
.img-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
/* .insta-img{
    width: 200px;
} */
.inst-img-1{
width: 250px;

}