*{
    margin: 0px;
    padding: 0px;
}
/* banner section */
.header-banner-container{
    display: flex;
    background-color: #E554731A;
    height: 100vh;
    gap: 100px;
}
.header-banner-item{
    margin-left: 240px;
}
.header-title{
    color: #272727;
font-family: Lato;
font-size: 65px;
font-weight: 800;
margin-top: 150px;

}
.header-description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 23px;
font-weight: 400;
line-height: 30px;
margin-top: 30px;
}
.btn-shop{
    margin-top: 30px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border: 0px;

}
.image-banner-item{
    padding-bottom: 0px;
    margin-bottom: 0px;
    
    
}
.header-banner-img{
    padding-right: 150px;
    margin-top: 67px;
    vertical-align: bottom;
    height: 800px;
    width: 600px;

    
}